.center {
    margin: 0 auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
	text-align: center;
}
img {

    width: 40%;
}

img, input	{
	margin: auto;
}
-
input {
	color: grey;
	font-family: sans-serif;
	font-size: 18;
	width: 200px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: light grey;
    top: 0;
    width: 100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
